@model Usuario

<link rel="stylesheet" href="/css/loginform.css" type="text/css">

<div class="container-fluid">
	<div class="loginform">
		<div class="card shadow-lg p-4">
			@if (ViewData["Error"] != null)
			{
				<div class="alert alert-danger">@ViewData["Error"]</div>
			}
			<h2 class="text-center">Iniciar Sesión</h2>
			<form method="post">
				<div class="mb-3">
					<label asp-for="@Model.Email" class="form-label">Correo Electrónico</label>
					<input asp-for="@Model.Email" class="form-control" placeholder="Ingrese su email" required />
				</div>
				<div class="mb-3">
					<label asp-for="@Model.Passwd" class="form-label">Contraseña</label>
					<input asp-for="@Model.Passwd" type="password" class="form-control" placeholder="Ingrese su contraseña" required />
				</div>
				<button type="submit" class="registerBtn registerBtn--form w-100" style="border: none; width: 100%;">Iniciar Sesión</button>
			</form>
			<div class="text-center mt-3">
				<span>¿No tienes cuenta? </span>
				<a asp-controller="Usuarios" asp-action="Registro" style="color: #0d6efd;">Regístrate</a>
			</div>
		</div>
	</div>
</div>
