@model List<Bougies.Models.Carrito>

<h2>Carrito de Compras</h2>

@if (Model.Count == 0)
{
    <p>Tu carrito está vacío.</p>
}
else
{
    <h1>Mi bolsa(@Model.Sum(item => item.Cantidad))</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descuento</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@Url.Content("~/images/" + item.Imagen)" width="50"></td>
                    <td>@item.Nombre</td>
                    <td>@item.Precio</td>
                    <td>@item.Cantidad</td>
                    @if (item.IdDescuento != 1)
                    {
                        <td>
                            @{
                                decimal descuento = item.Precio * (item.Descuento / 100m);
                            }
                            @descuento.ToString("0.00") €
                        </td>

                    }else {
                        <td>-</td>
                    }
                    
                    @if (item.IdDescuento != 1)
                    {
                        <td>
                            @{
                                decimal precioFinal = (item.Precio - (item.Precio * (item.Descuento / 100m))) * item.Cantidad;
                            }
                            @precioFinal.ToString("C") <!-- Formateado en moneda -->
                        </td>
                    }
                    else
                    {
                        <td>@(item.Precio * item.Cantidad) €</td> <!-- Si no hay descuento, mantiene el precio original -->
                    }
                    @* <td> *@
                    @*     <a asp-action="EliminarDelCarrito" asp-route-id="@item.IdProducto" class="btn btn-danger">Eliminar</a> *@
                    @* </td> *@
                </tr>
            }
        </tbody>
    </table>

    <h2>
        Total del carrito:
        @{
            decimal totalCarrito = Model.Sum(item => (item.Precio - (item.Precio * (item.Descuento / 100m))) * item.Cantidad);
        }
        @totalCarrito.ToString("C") <!-- Formateado en moneda -->
    </h2>
}
<a asp-controller="Tienda" asp-action="Productos" class="btn btn-primary">Seguir comprando</a>
